@import '~bootstrap/scss/bootstrap';

// MAIN CONTENT AND SIDEBAR
main {
    overflow-x: hidden;

    .main-content-container {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100vh - 70px);
    }

    .sidebar {
        height: calc(100vh - 70px);
        background-color: rgb(20, 20, 20);
        display: flex;

        .sidebar_list {
            width: 100%;

            div {
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: white;
                }
            }


        }
    }
}